apiVersion: intervention.xue1.top/v1
kind: DE
metadata:
  labels:
    app.kubernetes.io/name: de
    app.kubernetes.io/instance: de-sample
    app.kubernetes.io/part-of: intervention-go
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: intervention-go
  name: de-sample
spec:
  # TODO(user): Add fields here
  components:
    - name: "root"
      url: "http://10.1.0.191:9000/devs/main.bin"
      volumes: {}
    - name: "genr"
      url: "http://10.1.0.191:9000/devs/node1.bin"
      volumes: {}
    - name: "trans"
      url: "http://10.1.0.191:9000/devs/node2.bin"
      volumes: {}
    - name: "proc"
      url: "http://10.1.0.191:9000/devs/node3.bin"
      volumes:
        share: "/root/data"
  autoStart: "root:80" # port forward to

